{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" id="upper">
        <h2> Decisions in Part {{ Constants.part_fluid }} </h2>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
        <p>
            {% if player.treat <= 5 %}
                In Part {{ Constants.part_fluid }} you will participate for {{ Constants.rounds_fixed }} rounds with the same {{ Constants.others }}
                other players from Part {{ Constants.part_fixed }}. While, each round in Part {{ Constants.part_fixed }}
                had 3 stages, each round in Part {{ Constants.part_fluid }} will have 4 stages: <b>Group choice</b> (Stage 1),
                <b>Connections</b> (Stage 2), <b>Actions</b> (Stage 3) and <b>Results</b> (Stage 4).
                <br><br>
                The Connections, Actions and Results stages are the same as in Part {{ Constants.part_fixed }}. The <b>Group Choice</b>
                stage is <b>new</b> and is explained below.
            {% elif player.treat == 6 %}
                In Part {{ Constants.part_fluid }} you will participate for {{ Constants.rounds_fixed }} rounds with the same {{ Constants.others }}
                other players from Part {{ Constants.part_fixed }}. While, each round in Part {{ Constants.part_fixed }}
                had 3 stages, each round in Part {{ Constants.part_fluid }} will have 5 stages: <b>Group choice</b> (Stage 1),
                <b>Group revelation</b> (Stage 2), <b>Connections</b> (Stage 3), <b>Actions</b> (Stage 4) and <b>Results</b> (Stage 5).
                <br><br>
                The Connections, Actions and Results stages are the same as in Part {{ Constants.part_fixed }}. The <b>Group Choice</b>
                and <b>Group Revelation</b> are <b>new</b> and are explained below.
            {% endif %}
        </p>
      </div>
    </div>
    {#    Stage 1: ELECCION DE GRUPO#}
    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
         <p>
            <h5>Stage 1: Group Choice</h5>
            At the beginning of each round, <b>before Stage 1</b>, all players will be assigned to the same group they belonged to
            in Part {{ Constants.part_fixed }}. If you were &#9679 "{{ circles_label }}" in Part {{ Constants.part_fixed }},
            you will begin each round in Part {{ Constants.part_fluid }} as a &#9679. If you were &#9650 "{{ triangles_label }}"
            in Part {{ Constants.part_fixed }}, you will begin each round in Part {{ Constants.part_fluid }} as a &#9650.

            <br><br>
            Then, in the <b>Group Choice</b> stage, each player will decide if he wants to stay in his group or if he wants to change it.
            {% if player.treat == 4 or player.treat == 5 %}
                Staying in the same group is free while changing groups has a cost. The cost has two aspects. First, a fixed part
                of 6 {{ Constants.exp_currency }} for changing. In addition, a variable part that increases two {{ Constants.exp_currency }}
                for each person in your group (&#9679 ó &#9650) who chooses not to change:
                <br><br>
                <b>Example 1.</b> If you change and in your group <b>there is no one left</b> without changing, your cost is only the fixed part
                    (6 {{ Constants.exp_currency }}).
                <br><br>
                <b>Example 2.</b> If you change and in your group <b>there is one person left</b> without changing, your cost is the fixed part
                    (6 {{ Constants.exp_currency }}) plus two {{ Constants.exp_currency }} for each person who did not change (2 {{ Constants.exp_currency }}).
                    In total you pay 8 {{ Constants.exp_currency }} for changing your group.
                <br><br>
                <b>Example 3.</b> If you change and in your group <b>there are two people left</b> without changing, your cost is the fixed part
                    (6 {{ Constants.exp_currency }}) plus two {{ Constants.exp_currency }} for each person who did not change (4 {{ Constants.exp_currency }}).
                    In total you pay 10 {{ Constants.exp_currency }} for changing your group.
                <br><br>
                And so on, depending on the number of people who stays in your group without changing.
            {% endif %}

            <br><br>
            {% if player.treat == 1 or player.treat == 4 %}
                <b>The group symbol will indicate the group each player has chosen. A player's appearance will
                    change if he changes his group</b>.
            {% elif player.treat == 2 or player.treat == 5 %}
                <b>The group symbol will indicate the group each player has chosen. A player's appearance will
                    not change when he changes his group</b>.
            {% elif player.treat == 3 %}
                <b>The group symbol will not be visible whether a player changes or stays in his group. A player's appearance will
                    not change when he changes his group</b>.
            {% elif player.treat == 6 %}
                <b>The group symbol will indicate the group each player has chosen, but will only be visible if the player has
                    chosen to reveal it (see Stage 2).  A player's appearance will not change when he changes his group</b>.
            {% endif %}
            <br><br>
            {% if player.treat <= 5 %}
                The example below shows the choices a player can make depending on his group at the beginning of each round.
                The image above each button indicates how other players will see him in the remaining three stages of that round
                (Connections, Actions and Results), depending on whether he changes or stays in his group.
            {% elif player.treat == 6 %}
                The example below shows the choices a player can make regarding his group choice.
                The images <b>without</b> an internal symbol illustrate how other players will see him in the remaining
                three stages of that round (Connections, Actions and Results) if he chooses to not reveal his group.
                The choice of revealing your group or not takes place in Stage 2, after the Group Choice stage.
            {% endif %}
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 border rounded" id="network">
            <br>
            <h6>Group choice for a player belonging to group &#9679 "{{ circles_label }}"</h6>
            {% if player.treat == 1 or player.treat == 4 %}
            <img width="100%" src="{% static "inst_fluid_en/Img_G1.png" %}"/>
            {% elif player.treat == 2 or player.treat == 5 %}
            <img width="100%" src="{% static "inst_fluid_en/Img_G3.png" %}"/>
            {% elif player.treat == 3 or player.treat == 6 %}
            <img width="100%" src="{% static "inst_fluid_en/Img_G5.png" %}"/>
            {% endif %}
      </div>
      <div class="col-sm-6 border rounded" id="network">
            <br>
            <h6>Group choice for a player belonging to group &#9650 "{{ triangles_label }}"</h6>
            {% if player.treat == 1 or player.treat == 4 %}
            <img width="100%" src="{% static "inst_fluid_en/Img_G2.png" %}"/>
            {% elif player.treat == 2 or player.treat == 5 %}
            <img width="100%" src="{% static "inst_fluid_en/Img_G4.png" %}"/>
            {% elif player.treat == 3 or player.treat == 6 %}
            <img width="100%" src="{% static "inst_fluid_en/Img_G6.png" %}"/>
            {% endif %}
      </div>
    </div>
    <div>
    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
         <p>
            <b>Points in Part {{ Constants.part_fluid }}:</b>
            <br><br>
            If a player in group &#9679 "{{ circles_label }}" stays in the same group, he will continue earning {{ Constants.exp_currency }}
             as a &#9679 "{{ circles_label }}". That is, {{ Constants.liked_gain }} {{ Constants.exp_currency }} for each coordination on
             <button class="btn button1 btn-sm" disabled>Cyan</button> and {{ Constants.disliked_gain}} {{ Constants.exp_currency }}
             for each coordination on <button class="btn button2 btn-sm" disabled>Terra</button>.
            <br><br>
            However, if a player in group &#9679 "{{ circles_label }}" changes to group &#9650 "{{ triangles_label }}",
             he will earn {{ Constants.exp_currency }} as a &#9650 "{{ triangles_label }}". That is, {{ Constants.liked_gain}} {{ Constants.exp_currency }}
             for each coordination on <button class="btn button2 btn-sm" disabled>Terra</button> and
            {{ Constants.disliked_gain}} {{ Constants.exp_currency }} for each coordination on <button class="btn button1 btn-sm" disabled>Cyan</button>.
            <br><br>
            Similarly, if a player in group &#9650 "{{ triangles_label }}" changes to group &#9679 "{{ circles_label }}", 
             he will earn {{ Constants.exp_currency }} as a &#9679 "{{ circles_label }}". That is, {{ Constants.liked_gain }} {{ Constants.exp_currency }}
            for each coordination on <button class="btn button1 btn-sm" disabled>Cyan</button> and
            {{ Constants.disliked_gain}} {{ Constants.exp_currency }}s for each coordination on <button class="btn button2 btn-sm" disabled>Terra</button>.
            <br><br>
            But if he chooses to stay in group &#9650 {{ triangles_label }}", he will continue earning points as a &#9650 {{ triangles_label }}".
             That is, {{ Constants.liked_gain}} {{ Constants.exp_currency }} for each coordination on <button class="btn button2 btn-sm" disabled>Terra</button> and
            {{ Constants.disliked_gain}} {{ Constants.exp_currency }} for each coordination on <button class="btn button1 btn-sm" disabled>Cyan</button>.
          </p>
      </div>
    </div>
    {#    Stage 2: REVELACION DE GRUPO#}
    {% if player.treat == 6 %}
    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
         <p>
            <h5>Stage 2: Group Revelation</h5>
            Después de la Stage de <b>Elección de Grupo</b>, cada jugador decidirá si quiere revelar el grupo que ha
            elegido para que los demás lo vean o no. No revelar su grupo es gratis mientras que revelar su grupo tiene un costo.
                <br><br>
                El costo tiene dos aspectos. Primero, una parte fija de 6 puntos por revelar, independientemente de si
                eligió cambiarse o quedarse en su grupo. Además, si usted decidió cambiarse de grupo, hay una parte variable
                que aumenta dos puntos por cada persona en su grupo (&#9679 ó &#9650) que decida no cambiarse:
                <br><br>
                <b>Ejemplo 1.</b> Si usted no se cambia y decide revelar su grupo, su costo por revelar es sólo la parte fija
                    (6 puntos).
                <br><br>
                <b>Ejemplo 2.</b> Si usted decide no revelar su grupo usted no paga ningún costo (0 puntos). Sin importar si
                    usted se cambia de grupo o no, ni tampoco de cuántas personas en su grupo no se hayan cambiado.
                <br><br>
                <b>Ejemplo 3.</b> Si usted se cambia y decide revelar, y en su grupo <b>no queda nadie</b> sin cambiarse,
                    su costo es sólo la parte fija (6 puntos).
                <br><br>
                <b>Ejemplo 4.</b> Si usted se cambia y decide revelar, y en su grupo <b>queda una persona</b> sin cambiarse,
                    su costo es la parte fija (6 puntos) más dos puntos por la persona que no se cambió (2 puntos).
                    En total usted paga 8 puntos por revelar su cambio de grupo.
                <br><br>
                <b>Ejemplo 5.</b> Si usted se cambia y decide revelar, y en su grupo <b>quedan dos personas</b> sin cambiarse,
                    su costo es la parte fija (6 puntos) más dos puntos por cada persona que no se cambió (4 puntos).
                    En total usted paga 10 puntos por revelar su cambio de grupo.
                <br><br>
                Así sucesivamente, dependiendo del número de personas que se queden en su grupo.
                <br><br>
                    Las imágenes debajo, <b>con</b> símbolo interno ilustran la segunda decisión, y muestran cómo lo
                    verán los demás jugadores si usted elige revelar su grupo, dependiendo de si ha elegido anteriormente
                    cambiarse o quedarse en su grupo. Si usted decide no revelar su grupo, los demás jugadores lo verán
                    a través de una imágen <b>sin</b> símbolo interno.
            </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 border rounded" id="network">
            <br>
            <h6>Elección de revelación del grupo para un jugador que pertenece al grupo &#9679 "{{ circles_label }}",
                dependiendo de si cambió de grupo o no.</h6>
            <img width="100%" src="{% static "inst_fluid_en/Img_Z1.png" %}"/>
      </div>
      <div class="col-sm-6 border rounded" id="network">
            <br>
            <h6>Elección de revelación del grupo para un jugador que pertenece al grupo &#9650 "{{ triangles_label }}",
                dependiendo de si cambió de grupo o no.</h6>
            <img width="100%" src="{% static "inst_fluid_en/Img_Z2.png" %}"/>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
         <p>
            {% if player.treat <= 5 %}
                <h5>Stage 2: Connections</h5>
            {% elif player.treat == 6 %}
                <h5>Stage 3: Connections</h5>
            {% endif %}

          <b>This Stage is the same as in Part {{ Constants.part_fixed }}</b>. Each player can propose to others and pays a cost of
          {{ Constants.link_cost }} {{ Constants.exp_currency }} for each connection proposed.
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
         <p>
            {% if player.treat <= 5 %}
                <h5>Stage 3: Actions</h5>
            {% elif player.treat == 6 %}
                <h5>Stage 4: Actions</h5>
            {% endif %}
           <b>This Stage is the same as in Part {{ Constants.part_fixed }}</b>. Each player chooses one of two actions:
            <button class="btn button1 btn-sm" disabled>Cyan</button>
            or <button class="btn button2 btn-sm" disabled>Terra</button> and earns points by the number of his/her active connections choosing
            the same action.
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
         <p>
            {% if player.treat <= 5 %}
                <h5>Stage 4: Results</h5>
            {% elif player.treat == 6 %}
                <h5>Stage 5: Results</h5>
            {% endif %}
            <b>This Stage is the same as in Part {{ Constants.part_fixed }}</b>.
            Each player is informed of the number of total points he gets in the round. Points are calculated by the gains
            from coordination (which depend on the group chosen in the current round, the action chosen, and the number of
            coordinations with active connections) minus the costs of proposing connections to others.
            {% if player.treat == 4 or player.treat == 5 %}, and minus the cost of changing groups (in case the player has changed his group)
            {% elif player.treat == 6 %}, and minus the cost of revealing your group (in case the player has chosen to reveal it)
            {% endif %}.
          </p>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12 border rounded" id="network">
          <br>
            <h4>Before you continue, please answer the following comprehension questions: </h4>
          <br>
          <p>
            <b>1. You have been assigned to a group: &#9679 or &#9650 (inner symbol). How often does your group change?</b>
              <br>
              <small>{% formfield player.given_group label="" %}</small>
          </p>
          <p>
            <b>2. You will be given an appearance: &#9711 or &#9651 (external symbol). How often does your appearance change?</b>
              <br>
              <small>{% formfield player.appearance label="" %}</small>
          </p>
          <p>
            <b>3. You will be assigned a label from 1 to {{ names }}. How often does your label change?</b>
              <br>
              <small>{% formfield player.label label="" %}</small>
          </p>
          <p>
            <b>4. Imagine you began in group &#9679 "{{ circles_label }}", and you changed to group &#9650 "{{ triangles_label }}".
                Then you chose action <button class="btn button1 btn-sm" disabled>Cyan</button> and you have one active connection
                with a player who chose action <button class="btn button1 btn-sm" disabled>Cyan</button>. What are the total
                {{ Constants.exp_currency }} you get <i>from this connection</i> (not including what you get from coordinatng with
                yourself{% if player.treat == 4 or player.treat == 5 %} nor the cost of changing groups
                  {% elif player.treat == 6 %} nor the cost of revealing your group{% endif %})?</b>
            <br>
            <small>{% formfield player.pay_coord label="" %}</small>
          </p>
          <p>
              <b>5. Imagine you began in group &#9679 "{{ circles_label }}", and you stayed in your group.
                Then you chose action <button class="btn button1 btn-sm" disabled>Cyan</button> and you have one active connection
                with a player who chose action <button class="btn button1 btn-sm" disabled>Cyan</button>.
              What are the total {{ Constants.exp_currency }} you get <i>from this connection</i> (not including what you get from coordinatng with
               yourself)?</b>
            <br>
            <small>{% formfield player.pay_coord2 label="" %}</small>
          </p>
          <p>
            <b>6. After the Group choice (Stage 1){% if player.treat == 6 %} and before the group revelation Stage{% endif %},
                what will other players see about you in the remaining three stages?</b>
              <br>
              <small>{% formfield player.information label="" %}</small>
          </p>
        {% if player.treat == 4 or player.treat == 5 %}
          <p>
            <b>7. Si usted se cambia de grupo y un participante de su grupo decide no cambiarse. Cuánto paga usted como
                costo por cambiarse de grupo?</b>
              <br>
              <small>{% formfield player.cost_change_one label="" %}</small>
          </p>
          <p>
            <b>8. Si usted se cambia de grupo y todos los participantes de su grupo deciden cambiarse también. Cuánto paga usted como
                costo por cambiarse de grupo?</b>
              <br>
              <small>{% formfield player.cost_change_none label="" %}</small>
          </p>
        {% elif player.treat == 6 %}
          <p>
            <b>7. Si usted se cambia de grupo y elige revelarlo, y un participante de su grupo decide no cambiarse. Cuánto paga usted como
                costo por revelar su grupo?</b>
              <br>
              <small>{% formfield player.cost_change_one label="" %}</small>
          </p>
          <p>
            <b>8. Si usted se cambia de grupo y elige revelarlo, y todos los participantes de su grupo deciden cambiarse también. Cuánto paga usted como
                costo por revelar su grupo?</b>
              <br>
              <small>{% formfield player.cost_change_none label="" %}</small>
          </p>
          <p>
            <b>9. Si usted elige no revelar su grupo, independientemente de si se cambió de grupo o no. Cuánto paga usted como costo por no revelar su grupo?</b>
              <br>
              <small>{% formfield player.revelation_cost label="" %}</small>
          </p>

        {% endif %}
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
          <br><br>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .button {
            background-color: #000000;
            color: #EEE8AA;
            border: 2px solid #EEE8AA
        }
        .button:hover {
            background-color: #EEE8AA;
            color: #000000;
            border: 2px solid #000000
        }
        .button1 {
            background-color: #42daf5;
            color: #000000;
            border: 2px solid #ffffff
        }
        .button1:hover {
            background-color: #ffffff;
            color: #000000;
            border: 2px solid #42daf5
        }
        .button2 {
            background-color: #f59e42;
            color: #000000;
            border: 2px solid #ffffff
        }
        .button2:hover {
            background-color: #ffffff;
            color: #000000;
            border: 2px solid #f59e42
        }
        #upper{
            background-color: #000000;
        }
        #middle{
            background-color: #424242;
        }
        #lower{
            color: #EEE8AA
        }
        #network{
            background-color: #ffffff;
        }
        #pale{
            background-color: #F5F5F5;
        }
        #in_tie{
            background-color: #000000;
            color: #ffffff
        }
        #out_tie{
            background-color: #616161;
            color: #ffffff
        }
        .buttonup {
            background-color: #9C27B0;
            color: #ffffff;
            border: 1px solid #AD1457;
            padding: 1px 2px;
            display: inline-block;
            {#font-size: 13px;#}
        }
        .buttondown {
            background-color: #00BCD4;
            color: #ffffff;
            border: 1px solid #00838F;
            padding: 1px 2px;
            display: inline-block;
            {#font-size: 13px;#}
        }
    </style>
{% endblock %}