{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" id="upper">
          <h2>Part {{ Constants.part_name }}: <span id="lower"> Your group</span></h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border rounded" id="network">
        <p>
            Here we explain the visual information of your group (the way it will be displayed on the screen).
            This information will be useful for the subsequent parts of the experiment.
            In this part you will also make a decision together with the other participants assigned to your group: you
            will choose a name for your group. This is explained as follows:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 border rounded" id="network">
        <h5>1. Group image</h5>
        <p>
            {% if player.given_type == 1 %}
            You have been assigned to <b>group</b> <span id='symbol'>&#9679</span> (internal symbol)
            and your <b>appearance</b> is <span id='symbol'>&#9711</span> (external symbol).
            <br><br>
            There are {{ Constants.total_circles }} players in your group<span id='symbol'>&#9679</span>, you included.
            There are {{ Constants.total_triangles }} players in group <span id='symbol'>&#9650</span>.
            <br><br>
            Each player in your group will be displayed on the screen  using the following image:
            <br><br>
            <img width="50%" src="{% static "name_es/Img_T1.jpeg" %}"/>
            <br><br>
            In the chat box on the right hand side you can communicate with the other participants in group <span id='symbol'>&#9679</span>
            and choose a name for your group, <i>by clicking on the button with the name you prefer as a group</i>.
            <b>To choose a name, all {{ Constants.total_circles }} players in your group must click on the same button</b>.

            {% elif player.given_type == 5 %}
            You have been assigned to <b>group</b> <span id='symbol'>&#9650</span> (internal symbol)
            and your <b>appearance</b> is <span id='symbol'>&#9651</span> (external symbol).
            <br><br>
            There are {{ Constants.total_triangles }} players in your group<span id='symbol'>&#9650</span>, you included.
            There are {{ Constants.total_circles }} players in group <span id='symbol'>&#9679</span>.
            <br><br>
            Each player in your group will be displayed on the screen  using the following image:
            <br><br>
            <img width="50%" src="{% static "name_es/Img_T2.jpeg" %}"/>
            <br><br>
            In the chat box on the right hand side you can communicate with the other participants in group <span id='symbol'>&#9650</span>
            and choose a name for your group, <i>by clicking on the button with the name you prefer as a group</i>.
            <b>To choose a name, all {{ Constants.total_circles }} players in your group must click on the same button</b>.
            {% endif %}
        </p>
      </div>
      <div class="col-sm-6 border rounded" id="network">
        <div>
          <h5>2. Group name</h5>
          <p>
              In the chat box below, you will be labeled as <b>Player {{ player.role }}</b>. It is not allowed to use any
              offensive language. And to maintain anonymity, it is not allowed to send any information that can be used
              by the other participants to identify who you are.
              <br><br>
              <i>Write on the chat box to communicate with the other players in your group.</i>
          </p>
        </div>
        <div>
              {% chat nickname=player.chat_nickname channel=player.chat_channel %}
        </div>
        <div id="centering">
            <br>
          <p>
              <b>Click on the button with the name chosen by your group</b>.
          </p>
            <input type="hidden" value="0" name="group_name" id="group_name"/>
            {% if player.given_type == 1 %}
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(5)">{{Constants.group_e}}</button>
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(2)">{{Constants.group_b}}</button>
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(1)">{{Constants.group_a}}</button>
            <br>
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(4)">{{Constants.group_d}}</button>
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(3)">{{Constants.group_c}}</button>
            {% elif player.given_type == 5 %}
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(10)">{{Constants.group_j}}</button>
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(7)">{{Constants.group_g}}</button>
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(6)">{{Constants.group_f}}</button>
            <br>
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(9)">{{Constants.group_i}}</button>
            <button type="otree-btn-next" class="btn button btn-lg" onclick="$('#group_name').val(8)">{{Constants.group_h}}</button>
            {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    <style type="text/css">
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .button {
            background-color: #000000;
            color: #EEE8AA;
            border: 2px solid #EEE8AA
        }
        .button:hover {
            background-color: #EEE8AA;
            color: #000000;
            border: 2px solid #000000
        }
        #upper{
            background-color: #000000;
        }
        #middle{
            background-color: #424242;
        }
        #lower{
            color: #EEE8AA
        }
        #network{
            background-color: #ffffff;
        }
        #symbol{
            color: #616161;
        }
        .otree-chat__messages {
            height: 400px;
        }
        .otree-chat__nickname {
            color: #000000;
            font-weight: bold;
        }
        #centering{
            text-align: center
        }
    </style>
{% endblock %}